.containerRadios {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 2rem 0;
}

div.filtros {
  display: flex;
  gap: 1rem;
}

div.filtros > select,
input {
  box-sizing: border-box;
  padding: 5px 1rem 5px 5px;
}

div.filtros > select {
  width: fit-content;
}

.refreshBtn {
  background-color: transparent;
  fill: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  padding: 0;
}

.refreshBtn:hover {
  fill: #fff;
  scale: 1;
}

#addRadioBtn {
  bottom: 2rem;
  right: 2rem;
}

.noResults {
  grid-column: 1 / -1;
  padding: 1rem;
  color: #555;
}
