.containerLinea {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.tituloLinea {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.lineaWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.lineaHorizontal {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  transform: translateY(-50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.estacion {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

.punto {
  width: 12px;
  height: 12px;
  border-radius: 30%;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
  background-color: #777;
  z-index: 2;
}

.punto.online {
  background-color: rgb(90, 255, 129);
}

.punto.offline {
  background-color: rgb(241, 50, 50);
}

.nombreEstacionContainer {
  position: absolute;
  top: -25px;
  width: 0;
  display: flex;
  justify-content: center;
}

.nombreEstacion {
  white-space: nowrap;
  font-size: 11px;
  color: #888;
  opacity: 0;
  transition: all 0.2s ease;
}

.estacion:hover .nombreEstacion,
.estacion:hover .latency {
  font-size: 12px;
  backdrop-filter: blur(2px);
  z-index: 3;
  color: white;
  opacity: 1;
}

.latency {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 25px;
  width: 0;
  font-size: 8px;
  color: #888;
  transition: all 0.2s ease;
  opacity: 0;
  white-space: nowrap;
}

.estacion:hover .latency {
  font-size: 10px;
  color: #888;
}

.punto.loading {
  background-color: #999;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    background-color: #555;
  }
  50% {
    background-color: #999;
  }
  100% {
    background-color: #555;
  }
}
