.engrasadorasPage .tituloLinea {
  cursor: pointer;
}

.viasWrapper {
  position: relative;
  width: 100%;
  margin-left: 2rem;
}

.estacionesFondo,
.viasCapa,
.equiposCapa {
  position: absolute;
  inset: 0;
}

.estacionFondo {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
  pointer-events: none;
}

.ancla {
  position: absolute;
  width: 3px;
  height: 7px;
  left: 50%;
  transform: translate(-10px, -10px);
  fill: currentColor;
  opacity: 1;
}

.nombreEstacion {
  opacity: 1;
  display: inline-block;
  font-size: 11px;
  white-space: nowrap;
  opacity: 0.5;
  font-weight: 500;
}

.via {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.via1 {
  top: calc(50% - 20px);
}

.via2 {
  top: calc(50% + 20px);
}

.viasCapa {
  z-index: 1;
}

.estacionesFondo {
  z-index: 2;
}

.equiposCapa {
  z-index: 3;
}

.engrasadora {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
}

.engrasadora .punto {
  height: 9px;
  width: 9px;
  transform: translateY(1px);
}

.engrasadora::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);

  background-color: transparent;
  backdrop-filter: blur(1px);
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.engrasadora:hover::after {
  opacity: 1;
  visibility: visible;
}

.engrasadora .punto {
  outline: 1px solid rgba(255, 255, 255, 0.4);
  outline-offset: 2px;
  animation: blink 1s infinite ease;
}

.linkLinea:focus {
  outline: none;
}

@keyframes blink {
  0% {
    outline: 1px solid rgba(255, 255, 255, 0.4);
  }
  50% {
    outline: 1px solid rgba(255, 255, 255, 0.01);
  }
  100% {
    outline: 1px solid rgba(255, 255, 255, 0.4);
  }
}
